html,
body,
#root {
  height: 100vh;
}

.main-bg {
  background: linear-gradient(
    0deg,
    rgba(104, 205, 255, 1) 0%,
    rgba(61, 151, 196, 1) 100%
  );
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control:focus {
  box-shadow: none !important;
}

.main-card {
  border-radius: 0% !important;
  border: none !important;
  border-bottom: 1px solid #add8e6 !important;
}

.current-temp {
  font-size: 9rem;
  text-align: center;
}

.today-weather {
  text-align: center;
}

.prev-card {
  border-radius: 0% !important;
  border: none !important;
}

.results {
  /* position: absolute; */
  z-index: 99;
}

.prev-weather {
  border-bottom: 1px solid #add8e6;
}

.today-condition {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .prev-weather {
    border-bottom: 0;
    border-right: 1px solid #add8e6;
  }

  .current-temp {
    text-align: end;
  }
}

@media screen and (min-width: 310px) {
  .today-weather {
    text-align: initial;
  }
  .today-condition {
    justify-content: start;
  }
}
